EnergyPriceNotify/flows.json
[{"id":"a6ea80dc42647199","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"b2f9235ac620cfaa","type":"api-current-state","z":"a6ea80dc42647199","name":"Current Electric Rate","server":"839b592.e73f0a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":120,"wires":[["410eaeaea046f616"]]},{"id":"410eaeaea046f616","type":"function","z":"a6ea80dc42647199","name":"Process Rates","func":"// Get the input price from msg.payload\nconst inputPrice = msg.payload;\n\n// Initialize output status from flow context (if available)\nlet outputStatus = flow.get('outputStatus') || [null, null, null, null, null];\n\n// Determine the corresponding output based on the input price\nlet newOutputStatus = outputStatus.slice(); // Create a copy of outputStatus\n\nif (inputPrice === 0) {\n    newOutputStatus = [{ payload: true }, { payload: true }, null, null, null];\n} else if (inputPrice >= 1 && inputPrice <= 16) {\n    newOutputStatus = [{ payload: true }, null, { payload: true }, null, null];\n} else if (inputPrice >= 17 && inputPrice <= 25) {\n    newOutputStatus = [{ payload: true }, null, null, { payload: true }, null];\n} else if (inputPrice >= 26) {\n    newOutputStatus = [{ payload: true }, null, null, null, { payload: true }];\n}\n\n// Check if there is a change in output status\nconst isStatusChanged = !outputStatus.every((value, index) => {\n    if (value === null && newOutputStatus[index] === null) {\n        return true; // Both are null, consider them equal\n    } else if (value !== null && newOutputStatus[index] !== null) {\n        // Compare payload property using JSON.stringify()\n        return JSON.stringify(value.payload) !== JSON.stringify(newOutputStatus[index].payload);\n    }\n    return false; // One is null, the other is not\n});\n\n// Update flow variable with new output status\nif (isStatusChanged) {\n    flow.set('outputStatus', newOutputStatus);\n    msg = newOutputStatus;\n    return msg;\n} else {\n    return null; // No status change, do not output anything\n}","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["3c378a4d9dbc9c25"],["ba5e498d7f3dca78"],["83718859dba5db5b"],["46a54ace6893f4d4"],["cab32d062370ccae"]],"outputLabels":["Notify","0p or Less","1p to 16p","17p to 25p","over 26p"]},{"id":"ba5e498d7f3dca78","type":"debug","z":"a6ea80dc42647199","name":"0p or less","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":260,"wires":[]},{"id":"83718859dba5db5b","type":"debug","z":"a6ea80dc42647199","name":"1p to 16p","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"46a54ace6893f4d4","type":"debug","z":"a6ea80dc42647199","name":"17p to 25p","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"cab32d062370ccae","type":"debug","z":"a6ea80dc42647199","name":"over 26p","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"043481badaef5497","type":"inject","z":"a6ea80dc42647199","name":"0p or less","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":360,"y":200,"wires":[["410eaeaea046f616"]]},{"id":"66af29cd68bf643f","type":"inject","z":"a6ea80dc42647199","name":"1p to 16p (3)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":350,"y":300,"wires":[["410eaeaea046f616"]]},{"id":"c7357fadba99c250","type":"inject","z":"a6ea80dc42647199","name":"17p to 25p (18)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":340,"y":440,"wires":[["410eaeaea046f616"]]},{"id":"43db82e29a4e751d","type":"inject","z":"a6ea80dc42647199","name":"17p to 25p (24)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"24","payloadType":"num","x":340,"y":500,"wires":[["410eaeaea046f616"]]},{"id":"64bbb5212cb1eef5","type":"inject","z":"a6ea80dc42647199","name":"1p to 16p (12)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":350,"y":340,"wires":[["410eaeaea046f616"]]},{"id":"35ddfcb3bd97ce0e","type":"inject","z":"a6ea80dc42647199","name":"Over 26p (32)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"32","payloadType":"num","x":350,"y":580,"wires":[["410eaeaea046f616"]]},{"id":"47c04e17b0baa9dc","type":"inject","z":"a6ea80dc42647199","name":"Over 26p (55)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"55","payloadType":"num","x":350,"y":640,"wires":[["410eaeaea046f616"]]},{"id":"3c378a4d9dbc9c25","type":"debug","z":"a6ea80dc42647199","name":"Notify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"839b592.e73f0a8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
