Light dimmer/Light dimmer.json
[{"id":"3cc90e156d1b8c55","type":"subflow","name":"Toggle Check","info":"","category":"function","in":[{"x":60,"y":60,"wires":[{"id":"e35e9f6e47529664"}]}],"out":[{"x":420,"y":60,"wires":[{"id":"e35e9f6e47529664","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e35e9f6e47529664","type":"function","z":"3cc90e156d1b8c55","name":"Toggle Check","func":"//node.warn(\"Toggle Check Called\");\n\n//Get ALL the bulb states\nvar SetteeBulbState = global.get(\"SetteeBulbState\");\nvar SideboardBulbState = global.get(\"SideboardBulbState\");\nvar KitchenUnitLightState = global.get(\"KitchenUnitLightState\");\nvar LoungeSocketState = global.get(\"LoungeSocketState\");\nvar CenterStripLightState = global.get(\"CenterStripLightState\");\nvar KitchenOverheadLightState = global.get(\"KitchenOverheadLightState\");\n\nif (SetteeBulbState === \"OFF\" && SideboardBulbState === \"OFF\" && KitchenUnitLightState === \"OFF\" && LoungeSocketState === \"OFF\" && CenterStripLightState === \"OFF\" && KitchenOverheadLightState === \"OFF\") {\n    //Everything is off.. Set Toggle accordingly\n    global.set('Lights_Toggle', \"OFF\")\n} else {\n    //Something is on.\n    global.set('Lights_Toggle', \"ON\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[[]]},{"id":"e5fbe3ce3f81c014","type":"tab","label":"Dimming Light Functions","disabled":false,"info":"","env":[]},{"id":"be6fd112a8d3ade4","type":"group","z":"e5fbe3ce3f81c014","name":"Guest Bedroom Dimmer","style":{"fill":"#e3f3d3","label":true},"nodes":["9c7408d8bc773e48","84e292468f826b3c","5b70fef33386cd7d","e95520aee8c9beae","927bd252de074acc","1c25f25b1214bfe9","0b444efccc9a89a8","a37f038875e0c3a1","0b445b276325becc","73ed5ef76bf5c7cb","7a79d4b2772cc729","53cb26aa34a3b718","a35bf7e2725c4c56","15d3dd1e9e588982","bdeaa4df7aadf3f0","dbcda2afded8b48f","ea79039fc84b630c","64cc8ec0c4d75742","a52bb10f317a4e64","93af9de22f4b195e","fcbb8dccaae6a927","9fc83006338953dd","6478afa5af03d202","1b6de7d3fa35e749"],"x":54,"y":1419,"w":1372,"h":602},{"id":"a7ce2e829fd51514","type":"group","z":"e5fbe3ce3f81c014","name":"Settee Light Dimmer Switch","style":{"fill":"#dbcbe7","label":true},"nodes":["0d3384a86cbb63a9","ee384474379860d0","ed033321feb990a3","3d01248b162a1d38","a6c702eae39f91bb","17ccb101a77eb198","9052ab9a3c0cff2f","95a33576a7c94d77","37349c2e9c390870","4e177612295f1ff3","63dab6e940fe8c06","39db9182a22b1cec","f988e49c909493ac","22713bd73b45f9a4","dee768e0b6fdcc98","6965faf5c55668dc","c0fab70577def5aa","869cfdd901956aad","dea2e0f4e633019d","1d945933aa1043d1","4431a197afbbd3c6","348bd56e8e9f5f3d","8bcee6c2f15c3972"],"x":54,"y":779,"w":1372,"h":622},{"id":"9f03bf42d1cf2991","type":"group","z":"e5fbe3ce3f81c014","name":"Lounge Sidebard Dimmer Switch","style":{"fill":"#ffffbf","label":true},"nodes":["6dd8696d0bf9b23e","a3d99ca710b9ad1b","5c3b13335712f862","444b369317e798d4","6819979db821ec1e","f9d3b69343956325","c000975f7c5e1f8e","1c73cad2ebd984d9","7be7224ca7c86329","ed68a26568f95a10","15047f7ab9d2333d","2682496c34b1b722","9d9923c2f980ef3a","45848715a83ca2a0","d9a1546e66a35fb7","25c151ad5641828f","de502a6521db340d","4270cdbfb7264e61","e8f6b108adb6cd6d","b105c5cd48d3a042","2494ecc6ad42bb32","25e8debab4d55e6e","ecb525b4269dd522"],"x":54,"y":159,"w":1372,"h":602},{"id":"6dd8696d0bf9b23e","type":"switch","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Messages","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":320,"wires":[["45848715a83ca2a0"],["d9a1546e66a35fb7"],["15047f7ab9d2333d"],["a3d99ca710b9ad1b","ed68a26568f95a10"],["5c3b13335712f862","ed68a26568f95a10"]]},{"id":"a3d99ca710b9ad1b","type":"function","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Brightness up","func":"var step = 30;\nvar brightness =  flow.get(\"SideboardLight_brightness\");\n\nif(brightness > 0){\n    brightness = brightness + step;\n    flow.set(\"SideboardLight_brightness\", brightness);\n\t}\n\t\nif(brightness >= 255){\n    brightness = 254;\n    flow.set('press', false);\n    flow.set(\"SideboardLight_brightness\", brightness);\n    }\n\nmsg.payload = {\"state\":\"ON\",\"brightness\":brightness};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":500,"wires":[["f9d3b69343956325","e8f6b108adb6cd6d"]]},{"id":"5c3b13335712f862","type":"function","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Brightness down","func":"var step = 30;\nvar brightness =  flow.get(\"SideboardLight_brightness\");\n\nif(brightness <= 255){\n    brightness = brightness - step; \n    flow.set(\"SideboardLight_brightness\", brightness);\n\t}\n\t\nif(brightness <= 0){\n    brightness = 1;\n    flow.set('press', false);\n    flow.set(\"SideboardLight_brightness\", brightness);\n    }\n\nmsg.payload = {\"state\":\"ON\",\"brightness\":brightness};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":540,"wires":[["c000975f7c5e1f8e","e8f6b108adb6cd6d"]]},{"id":"444b369317e798d4","type":"switch","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":680,"wires":[["5c3b13335712f862"]]},{"id":"6819979db821ec1e","type":"switch","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":720,"wires":[["a3d99ca710b9ad1b"]]},{"id":"f9d3b69343956325","type":"delay","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":670,"y":720,"wires":[["6819979db821ec1e"]]},{"id":"c000975f7c5e1f8e","type":"delay","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":670,"y":680,"wires":[["444b369317e798d4"]]},{"id":"1c73cad2ebd984d9","type":"comment","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"loop every 500 ms","info":"","x":670,"y":640,"wires":[]},{"id":"7be7224ca7c86329","type":"comment","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"increase/decrease brightness","info":"","x":700,"y":460,"wires":[]},{"id":"ed68a26568f95a10","type":"change","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["2682496c34b1b722"]]},{"id":"15047f7ab9d2333d","type":"change","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":400,"wires":[["2682496c34b1b722"]]},{"id":"2682496c34b1b722","type":"change","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":375,"wires":[[]]},{"id":"9d9923c2f980ef3a","type":"comment","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"start/stop loop","info":"","x":790,"y":345,"wires":[]},{"id":"b105c5cd48d3a042","type":"mqtt in","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Sideboard Light","topic":"zigbee2mqtt/Sideboard Light","qos":"2","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":180,"y":200,"wires":[["25e8debab4d55e6e"]]},{"id":"2494ecc6ad42bb32","type":"debug","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":200,"wires":[]},{"id":"45848715a83ca2a0","type":"function","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"ON","func":"global.set('Lights_Toggle', \"ON\");\nglobal.set(\"SideboardBulbState\",\"ON\");\nmsg.payload = { \"state\":\"ON\",\"brightness\":254};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":260,"wires":[["e8f6b108adb6cd6d"]]},{"id":"d9a1546e66a35fb7","type":"function","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"OFF","func":"msg.payload = { \"state\":\"OFF\"};\nglobal.set(\"SideboardBulbState\",\"OFF\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":300,"wires":[["4270cdbfb7264e61"]]},{"id":"25e8debab4d55e6e","type":"delay","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":490,"y":200,"wires":[["ecb525b4269dd522"]]},{"id":"ecb525b4269dd522","type":"function","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Update","func":"\nflow.set(\"SideboardLight_brightness\", msg.payload.brightness);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["2494ecc6ad42bb32"]]},{"id":"25c151ad5641828f","type":"mqtt in","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Sideboard Dimmer Switch","topic":"zigbee2mqtt/sideboard Dimmer Switch","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":210,"y":320,"wires":[["6dd8696d0bf9b23e"]]},{"id":"1d945933aa1043d1","type":"mqtt in","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Settee Overhead Light","topic":"zigbee2mqtt/Settee Overhead Light","qos":"2","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":200,"y":820,"wires":[["348bd56e8e9f5f3d"]]},{"id":"4431a197afbbd3c6","type":"debug","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":820,"wires":[]},{"id":"348bd56e8e9f5f3d","type":"delay","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":490,"y":820,"wires":[["8bcee6c2f15c3972"]]},{"id":"8bcee6c2f15c3972","type":"function","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Update","func":"flow.set(\"SetteeLight_brightness\", msg.payload.brightness);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":820,"wires":[["4431a197afbbd3c6"]]},{"id":"0d3384a86cbb63a9","type":"mqtt in","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Lounge Dimmer Switch","topic":"zigbee2mqtt/Lounge Dimmer Switch","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":200,"y":960,"wires":[["ee384474379860d0"]]},{"id":"ee384474379860d0","type":"switch","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Messages","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":960,"wires":[["dee768e0b6fdcc98"],["6965faf5c55668dc"],["39db9182a22b1cec"],["ed033321feb990a3","63dab6e940fe8c06"],["3d01248b162a1d38","63dab6e940fe8c06"]]},{"id":"ed033321feb990a3","type":"function","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Brightness up","func":"var step = 30;\nvar brightness =  flow.get(\"SetteeLight_brightness\");\n\nif(brightness > 0){\n    brightness = brightness + step;\n    flow.set(\"SetteeLight_brightness\", brightness);\n\t}\n\t\nif(brightness >= 255){\n    brightness = 254;\n    flow.set('press', false);\n    flow.set(\"SetteeLight_brightness\", brightness);\n    }\n\nmsg.payload = {\"state\":\"ON\",\"brightness\":brightness};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1140,"wires":[["9052ab9a3c0cff2f","dea2e0f4e633019d"]]},{"id":"3d01248b162a1d38","type":"function","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Brightness down","func":"var step = 30;\nvar brightness =  flow.get(\"SetteeLight_brightness\");\n\nif(brightness <= 255){\n    brightness = brightness - step; \n    flow.set(\"SetteeLight_brightness\", brightness);\n\t}\n\t\nif(brightness <= 0){\n    brightness = 1;\n    flow.set('press', false);\n    flow.set(\"SetteeLight_brightness\", brightness);\n    }\n\nmsg.payload = {\"state\":\"ON\",\"brightness\":brightness};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1180,"wires":[["95a33576a7c94d77","dea2e0f4e633019d"]]},{"id":"a6c702eae39f91bb","type":"switch","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1320,"wires":[["3d01248b162a1d38"]]},{"id":"17ccb101a77eb198","type":"switch","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1360,"wires":[["ed033321feb990a3"]]},{"id":"9052ab9a3c0cff2f","type":"delay","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":670,"y":1360,"wires":[["17ccb101a77eb198"]]},{"id":"95a33576a7c94d77","type":"delay","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":670,"y":1320,"wires":[["a6c702eae39f91bb"]]},{"id":"37349c2e9c390870","type":"comment","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"loop every 500 ms","info":"","x":670,"y":1280,"wires":[]},{"id":"4e177612295f1ff3","type":"comment","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"increase/decrease brightness","info":"","x":700,"y":1100,"wires":[]},{"id":"63dab6e940fe8c06","type":"change","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1000,"wires":[["f988e49c909493ac"]]},{"id":"39db9182a22b1cec","type":"change","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1040,"wires":[["f988e49c909493ac"]]},{"id":"f988e49c909493ac","type":"change","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1015,"wires":[[]]},{"id":"22713bd73b45f9a4","type":"comment","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"start/stop loop","info":"","x":790,"y":985,"wires":[]},{"id":"dee768e0b6fdcc98","type":"function","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"ON","func":"global.set('Lights_Toggle', \"ON\")\nglobal.set(\"SetteeBulbState\", \"ON\");\nmsg.payload = { \"state\":\"ON\",\"brightness\":254};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":900,"wires":[["dea2e0f4e633019d"]]},{"id":"6965faf5c55668dc","type":"function","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"OFF","func":"msg.payload = { \"state\":\"OFF\"};\nglobal.set(\"SetteeBulbState\", \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":940,"wires":[["869cfdd901956aad"]]},{"id":"de502a6521db340d","type":"comment","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Sideboard Light","info":"","x":180,"y":280,"wires":[]},{"id":"c0fab70577def5aa","type":"comment","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Lounge Lights","info":"","x":170,"y":920,"wires":[]},{"id":"0228e821856f61eb","type":"comment","z":"e5fbe3ce3f81c014","name":"=================== DIMMING FUNCTIONS =============","info":"","x":280,"y":40,"wires":[]},{"id":"869cfdd901956aad","type":"subflow:3cc90e156d1b8c55","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"","x":870,"y":940,"wires":[["dea2e0f4e633019d"]]},{"id":"4270cdbfb7264e61","type":"subflow:3cc90e156d1b8c55","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"","x":910,"y":300,"wires":[["e8f6b108adb6cd6d"]]},{"id":"e8f6b108adb6cd6d","type":"link out","z":"e5fbe3ce3f81c014","g":"9f03bf42d1cf2991","name":"Sideboard Light","mode":"link","links":["7452e4e8bc9a6a8d"],"x":1300,"y":480,"wires":[],"l":true},{"id":"dea2e0f4e633019d","type":"link out","z":"e5fbe3ce3f81c014","g":"a7ce2e829fd51514","name":"Settee Overhead Light","mode":"link","links":["cae8067ee955cb45"],"x":1280,"y":1100,"wires":[],"l":true},{"id":"9c7408d8bc773e48","type":"switch","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Messages","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":450,"y":1660,"wires":[["15d3dd1e9e588982"],["bdeaa4df7aadf3f0"],["7a79d4b2772cc729"],["84e292468f826b3c","73ed5ef76bf5c7cb"],["5b70fef33386cd7d","73ed5ef76bf5c7cb"],["6478afa5af03d202"],["1b6de7d3fa35e749"]]},{"id":"84e292468f826b3c","type":"function","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Brightness up","func":"var step = 30;\nvar brightness =  flow.get(\"GuestBedroom_brightness\");\n\nnode.error(\"Brightness :\" + brightness);\n\nif(brightness >= 0){\n    brightness = brightness + step;\n    flow.set(\"GuestBedroom_brightness\", brightness);\n\t}\n\t\nif(brightness >= 255){\n    brightness = 255;\n    flow.set('press', false);\n    flow.set(\"GuestBedroom_brightness\", brightness);\n    }\n\nmsg.payload = brightness;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1780,"wires":[["1c25f25b1214bfe9","9fc83006338953dd"]]},{"id":"5b70fef33386cd7d","type":"function","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Brightness down","func":"var step = 30;\nvar brightness =  flow.get(\"GuestBedroom_brightness\");\n\nnode.error(\"Brightness :\" + brightness);\n\nif(brightness <= 255){\n    brightness = brightness - step; \n    flow.set(\"GuestBedroom_brightness\", brightness);\n\t}\n\t\nif(brightness <= 0){\n    brightness = 1;\n    flow.set('press', false);\n    flow.set(\"GuestBedroom_brightness\", brightness);\n    }\n\nmsg.payload = brightness;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1840,"wires":[["0b444efccc9a89a8","9fc83006338953dd"]]},{"id":"e95520aee8c9beae","type":"switch","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1940,"wires":[["5b70fef33386cd7d"]]},{"id":"927bd252de074acc","type":"switch","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1980,"wires":[["84e292468f826b3c"]]},{"id":"1c25f25b1214bfe9","type":"delay","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":550,"y":1980,"wires":[["927bd252de074acc"]]},{"id":"0b444efccc9a89a8","type":"delay","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":550,"y":1940,"wires":[["e95520aee8c9beae"]]},{"id":"a37f038875e0c3a1","type":"comment","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"loop every 500 ms","info":"","x":550,"y":1900,"wires":[]},{"id":"0b445b276325becc","type":"comment","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"increase/decrease brightness","info":"","x":940,"y":1800,"wires":[]},{"id":"73ed5ef76bf5c7cb","type":"change","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1680,"wires":[["53cb26aa34a3b718"]]},{"id":"7a79d4b2772cc729","type":"change","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1640,"wires":[["53cb26aa34a3b718"]]},{"id":"53cb26aa34a3b718","type":"change","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1660,"wires":[[]]},{"id":"a35bf7e2725c4c56","type":"comment","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"start/stop loop","info":"","x":890,"y":1620,"wires":[]},{"id":"15d3dd1e9e588982","type":"function","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"ON","func":"//global.set('Lights_Toggle', \"ON\");\nglobal.set(\"GuestBedroomBulbState\",\"ON\");\nmsg.payload =254;\nflow.set(\"GuestBedroom_brightness\", 255);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1520,"wires":[["9fc83006338953dd"]]},{"id":"bdeaa4df7aadf3f0","type":"function","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"OFF","func":"msg.payload = 0;\nglobal.set(\"GuestBedroomBulbState\",\"OFF\");\nflow.set(\"GuestBedroom_brightness\", 0);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1580,"wires":[["9fc83006338953dd"]]},{"id":"dbcda2afded8b48f","type":"comment","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Guest Bed Dimmer","info":"","x":190,"y":1620,"wires":[]},{"id":"ea79039fc84b630c","type":"mqtt in","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Dimmer SW Guest Bedroom","topic":"zigbee2mqtt/Dimmer SW Guest Bedroom","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":220,"y":1660,"wires":[["9c7408d8bc773e48"]]},{"id":"ba921fe8c877830b","type":"function","z":"e5fbe3ce3f81c014","name":"Init Settings","func":"//see On Start for settings","outputs":1,"timeout":"","noerr":0,"initialize":"flow.set(\"SideboardLight_brightness\", 1); \nflow.set(\"SetteeLight_brightness\", 1); \nflow.set(\"GuestBedroom_brightness\", 1); ","finalize":"","libs":[],"x":110,"y":80,"wires":[[]]},{"id":"64cc8ec0c4d75742","type":"debug","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1460,"wires":[]},{"id":"a52bb10f317a4e64","type":"delay","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":490,"y":1460,"wires":[["fcbb8dccaae6a927"]]},{"id":"93af9de22f4b195e","type":"mqtt in","z":"e5fbe3ce3f81c014","d":true,"g":"be6fd112a8d3ade4","name":"Guest Bedroom Lights","topic":"zigbee2mqtt/Sideboard Light","qos":"2","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":200,"y":1460,"wires":[["a52bb10f317a4e64"]]},{"id":"fcbb8dccaae6a927","type":"function","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Update","func":"\nflow.set(\"GuestBedroom_brightness\", msg.payload.brightness);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1460,"wires":[["64cc8ec0c4d75742"]]},{"id":"9fc83006338953dd","type":"link out","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Guest Bedroom Light","mode":"link","links":["68f34380d2aa2f04"],"x":1280,"y":1700,"wires":[],"l":true},{"id":"6478afa5af03d202","type":"api-call-service","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Boost for 30 mins","server":"839b592.e73f0a8","version":5,"debugenabled":false,"domain":"wiser","service":"boost_heating","areaId":[],"deviceId":[],"entityId":["climate.wiser_guest_bedroom"],"data":"{\"time_period\":30}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":1760,"wires":[[]]},{"id":"1b6de7d3fa35e749","type":"api-call-service","z":"e5fbe3ce3f81c014","g":"be6fd112a8d3ade4","name":"Cancel boost","server":"839b592.e73f0a8","version":5,"debugenabled":false,"domain":"wiser","service":"boost_heating","areaId":[],"deviceId":[],"entityId":["climate.wiser_guest_bedroom"],"data":"{\"time_period\":0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":1820,"wires":[[]]},{"id":"eca6af44.5297b","type":"mqtt-broker","name":"MQTT","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"839b592.e73f0a8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
