Sensor Heartbeat Monitor/flow - Sensor Heartbeat monitor.json
[{"id":"901f218d2eda5292","type":"tab","label":"Sensor Monitor","disabled":false,"info":"","env":[]},{"id":"e961a2e02fbb335a","type":"group","z":"901f218d2eda5292","name":"Sensor Warnings","style":{"stroke":"#ff0000","fill":"#ffdf7f","label":true,"label-position":"n","color":"#000000"},"nodes":["4a0ab706536ae3e1","9e969eec6fa17757","22ee913d40d40093","5f82c85233c7cf0e","59678710c1fd2953","fdbcaef8bbfd5299","667796ca550a5ebe","5dde7cc74912d5d7","dcab79153d111613","1089ebbc61c98b8d","4fe203b56beab019","f35024a96428daeb","00ea5cb5f68ef093","4baafa3eeed6ff0f","8eb530ca229eb684","261641f09bbb970a","de6686053285e117","29c2886316fd9b68","d31104e99653c27c","257cd22794d154bd","a8f6b80d723c936c"],"x":74,"y":79,"w":978,"h":2422},{"id":"718a209d2396df65","type":"group","z":"901f218d2eda5292","name":"Battery, but constant parameter reports","style":{"stroke":"#7fb7df","fill":"#bfdbef","label":true},"nodes":["278afddf6caa5d58","c4b12a246ecedb24","b1c8bb7851325aca","1b16c61d5e3d83c2","7709421f94456c1c","ba7ed03e6c52d270","85841b06e1e7c5b8","a457b8bec31cbbf5","980c4a78f28e536d","2df48b341f0e347e"],"x":134,"y":979,"w":892,"h":302},{"id":"4baafa3eeed6ff0f","type":"group","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Battery powered Devices","style":{"stroke":"#c8e7a7","fill":"#e3f3d3","label":true},"nodes":["1580f992a5e050c5","64335efbd4b27e1b","f856406381f2fe90","bedf39216fc48fa3","c8411c5c4657e8bc","4ea3cd6487e6506f","f045acbd7bc712a9","ebf08caa092c828a","9c3df71bf5c65759","5462b1ad9b211d43","db0a0c5b66ab20e1","c8abac1f85eb3b8a","bee27d5692febd46","9d32038bd0623067","e0885473c0614f94","45368daffd407262","86fa7ce1a97877e2","df1e46753f9f4cab","b3dcfd92f0fa5212","6e32a2f3dac19a37","6c0faca955b48fa8","91784e9580946767","67ed75c3e9417b1d","b9e7a29beb3104e1"],"x":134,"y":159,"w":892,"h":762},{"id":"261641f09bbb970a","type":"group","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Socket Devices","style":{"stroke":"#b797cf","fill":"#dbcbe7","label":true},"nodes":["8cb42e91423383c2","4f5e7ed2203ec9cd","e3b2272b7df6dca8","10e76221fa778b89","df4276cca8edda98","27c5bd6942900464","587ee60e4942a172","44a6ade613ff4d84"],"x":134,"y":1319,"w":892,"h":222},{"id":"29c2886316fd9b68","type":"group","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Light Bulbs","style":{"stroke":"#ffff7f","fill":"#ffffbf","label":true},"nodes":["fa22a1cc67696316","d09afe9081685457","1b265781fd0721cd","9768ef8634feb528","011813924c59f2ba","870e22eac7adca85"],"x":134,"y":1579,"w":892,"h":202},{"id":"d31104e99653c27c","type":"group","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"WiFi Devices","style":{"stroke":"#7f7f7f","fill":"#bfbfbf","label":true},"nodes":["e1918f2a4a2367cb","3f8fc5f095875082","a55aefbdd3e69f6c","f14402421b77a2e0","5a54422c9b582b56","a6f9a498c47ec503","466a727f1f1845c8","5e22cfbbbb4c1881","da65215f7f37fcd1","a730c6ba64777c1f"],"x":134,"y":1819,"w":892,"h":262},{"id":"4a0ab706536ae3e1","type":"inject","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Every 30 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2340,"wires":[["9e969eec6fa17757"]]},{"id":"9e969eec6fa17757","type":"function","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Check Response Times","func":"//OLD CODE\nvar sensors = flow.get(\"sensors\");\nvar time_now = Date.now();\nvar logs = flow.get(\"logs\");\n\nsensors.forEach(function (sensor) {\n    if (sensor.last_report !== undefined) {\n        let diff = (time_now - sensor.last_report) / 1000;\n\n        //if unresponsive time greater than figure you set\n        if (diff > sensor.timeout * 60) {\n            var s = logs.findIndex(i => i.room === sensor.room);\n\n            if (s > -1) {\n                //Found the sensor entry. Update the unresponse time\n                logs[s].unresponsive = secondsToTime(diff); //Log the unresponsive time period\n            }\n            else {\n                //Didnt find sensor entry. Add a new one to the log\n                var entry = {\n                    \"room\": sensor.room,\n                    \"last_update\": sensor.last_report,\n                    \"unresponsive\": secondsToTime(diff),\n                    \"notification\": false,\n                    \"battery\": sensor.battery\n                };\n                logs.push(entry);\n            }\n            flow.set(\"logs\", logs);\n        }\n    }\n});\n\nreturn msg;\n\n// Functions\nfunction secondsToTime(seconds) {\n    const days = (\"0\" + Math.floor(seconds / 86400)).slice(-2);\n    const hours = (\"0\" + Math.floor((seconds % 86400) / 3600)).slice(-2);\n    const minutes = (\"0\" + Math.floor((seconds % 3600) / 60)).slice(-2);\n    const remainingSeconds = (\"0\" + seconds % 60).slice(-2);\n\n    let timer = \"\";\n    timer += seconds >= 86400 ? days + \"d \" : \"\";\n    timer += seconds >= 3600 ? hours + \"h \" : \"\";\n    timer += seconds >= 60 ? minutes + \"m \" : \"\";\n    return timer + remainingSeconds + \"s\";\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":2340,"wires":[[]]},{"id":"22ee913d40d40093","type":"inject","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Every 1h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 9-22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":2400,"wires":[["5f82c85233c7cf0e"]]},{"id":"5f82c85233c7cf0e","type":"function","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Notify","func":"var logs = flow.get(\"logs\");\nvar settings = flow.get(\"sensor_notifications\");\n\nvar to_notify_list = [];\n\nmsg = {};\n\n// add all unnotified sensors\nfor (let i = 0; i < logs.length; i++) {\n    if (logs[i].notification === false) {\n        let entry;\n        if (logs[i].battery === undefined) {\n            entry = logs[i].room + \" offline for: \" + logs[i].unresponsive + \" \\n\";\n        } else {\n            entry = logs[i].room + \" offline for: \" + logs[i].unresponsive + \", last battery readout: \" + logs[i].battery + \"%  \\n\";\n        }\n        to_notify_list.push(entry);\n\n        // update notification status\n        logs[i].notification = true;\n    }\n}\nflow.set(\"logs\", logs);\n\n//send only if there are unnotified sensors\nif (to_notify_list.length > 0) {\n    msg.payload = \"Info: \\n •\" + to_notify_list.join(\"•\");\n    msg.headers = {};\n    msg.headers['tags'] = 'warning,house';\n    msg.headers['Title'] = settings.title;\n    msg.headers['Priority'] = 4; //medium priority\n    //msg.headers['Email'] = 'someone@gmail.com'; //sends this message to the Email address too!\n    msg.headers['Icon'] = settings.icon; //attach an icon\n    //msg.headers['Attach'] = \"https://cdn-icons-png.flaticon.com/512/3593/3593297.png\"; //attach a file\n    //msg.headers['Click'] = 'https://www.reddit.com/message/messages'; //adds a click link to the topic\n\n    node.status({ fill: \"green\", shape: \"ring\", text: timestamp() + \" ntfy Called\" });\n} else {\n    msg = null;\n}\nreturn msg;\n\nfunction timestamp() {\n    const now = new Date();\n    const options = { weekday: \"long\" };\n    let weekDay = new Intl.DateTimeFormat(\"en-GB\", options).format(now);\n\n    return weekDay + ':' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds() + \":\";\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2400,"wires":[["1089ebbc61c98b8d"]]},{"id":"59678710c1fd2953","type":"inject","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Every 48hrs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"172800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":2460,"wires":[["5dde7cc74912d5d7"]]},{"id":"fdbcaef8bbfd5299","type":"function","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Clear Logs (reset notifications)","func":"flow.set(\"logs\", []);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2460,"wires":[[]]},{"id":"667796ca550a5ebe","type":"function","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"Settings","func":"//see On Start for settings","outputs":1,"noerr":0,"initialize":"// set your preferences\nvar icon =  \"https://cdn-icons-png.flaticon.com/512/3593/3593297.png\"  // publicly available icon for your mobile notification\nvar title = \"Sensor Warning\";                                          // title of your notification\nvar reminder = true;                                                   // reset warnings for the next day                                          // include last known battery % - requires \"battery_percent\" key in sensor object            \n\n// don't modify anything below this line\n\nvar settings = {\n    \"icon\": icon,\n    \"title\": title,\n    \"reminder\": reminder\n}\n\nflow.set(\"logs\", []);\nflow.set(\"sensor_notifications\", settings);","finalize":"","libs":[],"x":160,"y":120,"wires":[[]]},{"id":"5dde7cc74912d5d7","type":"switch","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"reminder?","property":"sensor_notifications.reminder","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":2460,"wires":[["fdbcaef8bbfd5299"]]},{"id":"1580f992a5e050c5","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Kitchen Dimmer Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Kitchen Dimmer Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[["e0885473c0614f94"]]},{"id":"dcab79153d111613","type":"function","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"save sensor","func":"// see onStart for flow variable\nvar sensors = flow.get(\"sensors\");\nvar sensor = msg.payload;\n\n//Manually added properties: \n//    * payload.room\n//    * last_report\n//    * payload.timeout\n//Inherited properties\n//    * battery\n\nsensor.last_report = Date.now();\naddOrUpdateObject(sensor);\nflow.set(\"sensors\", sensors);\n\nreturn msg;\n\nfunction addOrUpdateObject(newObject) {\n    const index = sensors.findIndex(obj => obj.room === newObject.room);\n\n    if (index !== -1) {\n        //found entry.. Update Existing entry details.\n        sensors[index].room = newObject.room;\n        sensors[index].last_report = newObject.last_report;\n        sensors[index].timeout = newObject.timeout;\n        sensors[index].battery = newObject.battery;\n    } else {\n        //create new object.\n        sensors.push({\n            room: newObject.room,\n            last_report: newObject.last_report,\n            timeout: newObject.timeout,\n            battery: newObject.battery\n        });\n    }\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"sensors\", []);","finalize":"","libs":[],"x":810,"y":2180,"wires":[[]]},{"id":"64335efbd4b27e1b","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Kitchen Dimmer Switch","topic":"zigbee2mqtt/Kitchen Dimmer Switch","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":260,"y":240,"wires":[["1580f992a5e050c5"]]},{"id":"8cb42e91423383c2","type":"change","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"Kitchen Light Socket","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Kitchen Light Socket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["587ee60e4942a172"]]},{"id":"4f5e7ed2203ec9cd","type":"mqtt in","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"Kitchen Light Socket","topic":"zigbee2mqtt/Kitchen Light Socket","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":1440,"wires":[["8cb42e91423383c2"]]},{"id":"e3b2272b7df6dca8","type":"mqtt in","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"Lounge Light Socket","topic":"zigbee2mqtt/Lounge Light Socket","qos":"2","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":1500,"wires":[["10e76221fa778b89"]]},{"id":"10e76221fa778b89","type":"change","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"Lounge Light Socket","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Lounge Light Socket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1500,"wires":[["587ee60e4942a172"]]},{"id":"f856406381f2fe90","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Lounge Dimmer Switch","topic":"zigbee2mqtt/Lounge Dimmer Switch","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":260,"y":300,"wires":[["bedf39216fc48fa3"]]},{"id":"fa22a1cc67696316","type":"mqtt in","z":"901f218d2eda5292","g":"29c2886316fd9b68","name":"Settee Overhead Light","topic":"zigbee2mqtt/Settee Overhead Light","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":260,"y":1680,"wires":[["1b265781fd0721cd"]]},{"id":"d09afe9081685457","type":"mqtt in","z":"901f218d2eda5292","g":"29c2886316fd9b68","name":"Sideboard Light","topic":"zigbee2mqtt/Sideboard Light","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":240,"y":1740,"wires":[["9768ef8634feb528"]]},{"id":"bedf39216fc48fa3","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Lounge Dimmer Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Lounge Dimmer Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["e0885473c0614f94"]]},{"id":"1b265781fd0721cd","type":"change","z":"901f218d2eda5292","g":"29c2886316fd9b68","name":"Settee Overhead Light","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Settee Overhead Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1680,"wires":[["011813924c59f2ba"]]},{"id":"9768ef8634feb528","type":"change","z":"901f218d2eda5292","g":"29c2886316fd9b68","name":"Sideboard Light","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Sideboard Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1740,"wires":[["011813924c59f2ba"]]},{"id":"c8411c5c4657e8bc","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Sideboard Dimmer Switch","topic":"zigbee2mqtt/sideboard Dimmer Switch","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":270,"y":420,"wires":[["f045acbd7bc712a9"]]},{"id":"4ea3cd6487e6506f","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Lounge MultiSwitch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Lounge MultiSwitch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["e0885473c0614f94"]]},{"id":"f045acbd7bc712a9","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Sideboard Dimmer Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Sideboard Dimmer Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["e0885473c0614f94"]]},{"id":"ebf08caa092c828a","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"All off Switch","topic":"zigbee2mqtt/All off Switch","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":230,"y":480,"wires":[["db0a0c5b66ab20e1"]]},{"id":"9c3df71bf5c65759","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Lounge MultiSwitch","topic":"zigbee2mqtt/Lounge MultiSwitch","qos":"1","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":360,"wires":[["4ea3cd6487e6506f"]]},{"id":"df4276cca8edda98","type":"mqtt in","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"CenterStripLED Socket","topic":"zigbee2mqtt/CenterStripLED Socket","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":260,"y":1380,"wires":[["27c5bd6942900464"]]},{"id":"5462b1ad9b211d43","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Centre Strip LED Lights Switch","topic":"zigbee2mqtt/Centre Strip LED Lights Switch","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":290,"y":540,"wires":[["c8abac1f85eb3b8a"]]},{"id":"db0a0c5b66ab20e1","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"All off Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"All off Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["e0885473c0614f94"]]},{"id":"27c5bd6942900464","type":"change","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"CenterStripLED Socket","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"CenterStripLED Socket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1380,"wires":[["587ee60e4942a172"]]},{"id":"c8abac1f85eb3b8a","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Centre Strip LED Lights Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Centre Strip LED Lights Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":540,"wires":[["e0885473c0614f94"]]},{"id":"a55aefbdd3e69f6c","type":"change","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Viessmann Boiler","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Viessmann_Boiler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1860,"wires":[["f14402421b77a2e0"]]},{"id":"1089ebbc61c98b8d","type":"http request","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"ntfy.sh","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://ntfy.sh/francis_alerts","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":650,"y":2400,"wires":[[]]},{"id":"4fe203b56beab019","type":"change","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"24 Hours","rules":[{"t":"set","p":"payload.timeout","pt":"msg","to":"1440","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2180,"wires":[["dcab79153d111613"]]},{"id":"f35024a96428daeb","type":"change","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"6 Hours (Powered Devices)","rules":[{"t":"set","p":"payload.timeout","pt":"msg","to":"360","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2120,"wires":[["dcab79153d111613","257cd22794d154bd"]]},{"id":"00ea5cb5f68ef093","type":"change","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"48 Hours (Battery Powered Devices)","rules":[{"t":"set","p":"payload.timeout","pt":"msg","to":"2880","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2240,"wires":[["dcab79153d111613"]]},{"id":"3f8fc5f095875082","type":"function","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"tpose","func":"var newMsg = {}; //establish the newMsg object.\nnewMsg.payload = {}; //establish the payload object. will be built out later\n\nnewMsg.payload.state = \"dunno\"; //Dummy setting to force object structure\n\nnode.status({ fill: \"red\", shape: \"ring\", text: timestamp() + \":\" + msg.topic });\nreturn newMsg;\n\n//#####################################################################\nfunction timestamp() {\n    const now = new Date();\n    const options = { weekday: \"long\" };\n    let weekDay = new Intl.DateTimeFormat(\"en-GB\", options).format(now);\n    \n    return weekDay + ':' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds() + \":\";\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1860,"wires":[["a55aefbdd3e69f6c"]]},{"id":"e1918f2a4a2367cb","type":"server-state-changed","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Boiler Burner","server":"839b592.e73f0a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.vicare_burner_active","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1860,"wires":[["3f8fc5f095875082"]]},{"id":"bee27d5692febd46","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Front Door Sensor","topic":"zigbee2mqtt/Front Door Sensor","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":820,"wires":[["9d32038bd0623067"]]},{"id":"9d32038bd0623067","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Front Door Sensor","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Front Door Sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":820,"wires":[["e0885473c0614f94"]]},{"id":"e0885473c0614f94","type":"link out","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"to 48Hours","mode":"link","links":["8eb530ca229eb684"],"x":930,"y":620,"wires":[],"l":true},{"id":"8eb530ca229eb684","type":"link in","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"48 Hours","links":["e0885473c0614f94"],"x":220,"y":2240,"wires":[["00ea5cb5f68ef093"]],"l":true},{"id":"587ee60e4942a172","type":"link out","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"to 6 Hours","mode":"link","links":["de6686053285e117"],"x":930,"y":1440,"wires":[],"l":true},{"id":"de6686053285e117","type":"link in","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"6 Hours","links":["587ee60e4942a172","f14402421b77a2e0","980c4a78f28e536d"],"x":210,"y":2120,"wires":[["f35024a96428daeb"]],"l":true},{"id":"011813924c59f2ba","type":"link out","z":"901f218d2eda5292","g":"29c2886316fd9b68","name":"to 24 Hours","mode":"link","links":["a8f6b80d723c936c"],"x":930,"y":1720,"wires":[],"l":true},{"id":"f14402421b77a2e0","type":"link out","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"to 6 Hours","mode":"link","links":["de6686053285e117"],"x":930,"y":1860,"wires":[],"l":true},{"id":"45368daffd407262","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Back Door Sensor","topic":"zigbee2mqtt/Back Door Sensor","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":880,"wires":[["86fa7ce1a97877e2"]]},{"id":"86fa7ce1a97877e2","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Back Door Sensor","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Back Door Sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":880,"wires":[["e0885473c0614f94"]]},{"id":"257cd22794d154bd","type":"debug","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":2120,"wires":[]},{"id":"df1e46753f9f4cab","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Kitchen Dimmer Switch 2","topic":"zigbee2mqtt/Kitchen Dimmer Switch 2","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":270,"y":600,"wires":[["6e32a2f3dac19a37"]]},{"id":"b3dcfd92f0fa5212","type":"mqtt in","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Kitchen Toggle Switch","topic":"zigbee2mqtt/Kitchen Toggle Switch","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":260,"y":660,"wires":[["6c0faca955b48fa8"]]},{"id":"6e32a2f3dac19a37","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Kitchen Dimmer Switch 2","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Kitchen Dimmer Switch 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["e0885473c0614f94"]]},{"id":"6c0faca955b48fa8","type":"change","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Kitchen Toggle Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Kitchen Toggle Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":660,"wires":[["e0885473c0614f94"]]},{"id":"91784e9580946767","type":"mqtt in","z":"901f218d2eda5292","d":true,"g":"4baafa3eeed6ff0f","name":"Shed Heating Switch","topic":"zigbee2mqtt/Shed Heating Switch","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":720,"wires":[["67ed75c3e9417b1d"]]},{"id":"67ed75c3e9417b1d","type":"change","z":"901f218d2eda5292","d":true,"g":"4baafa3eeed6ff0f","name":"Shed Heating Switch","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Shed Heating Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["e0885473c0614f94"]]},{"id":"a8f6b80d723c936c","type":"link in","z":"901f218d2eda5292","g":"e961a2e02fbb335a","name":"24 Hours","links":["011813924c59f2ba"],"x":220,"y":2180,"wires":[["4fe203b56beab019"]],"l":true},{"id":"b9e7a29beb3104e1","type":"comment","z":"901f218d2eda5292","g":"4baafa3eeed6ff0f","name":"Binary Sense Devices","info":"","x":260,"y":200,"wires":[]},{"id":"44a6ade613ff4d84","type":"comment","z":"901f218d2eda5292","g":"261641f09bbb970a","name":"These Talk a lot","info":"","x":920,"y":1360,"wires":[]},{"id":"278afddf6caa5d58","type":"mqtt in","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Front Door Motion Sensor","topic":"zigbee2mqtt/Front Door Motion Sensor","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":270,"y":1060,"wires":[["c4b12a246ecedb24"]]},{"id":"c4b12a246ecedb24","type":"change","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Front Door Motion Sensor","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Front Door Motion Sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1060,"wires":[["980c4a78f28e536d"]]},{"id":"b1c8bb7851325aca","type":"mqtt in","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Aqara Motion Sensor Passage","topic":"zigbee2mqtt/Aqara Motion Sensor Passage","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":280,"y":1120,"wires":[["7709421f94456c1c"]]},{"id":"1b16c61d5e3d83c2","type":"mqtt in","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Aqara Motion Sensor Lounge","topic":"zigbee2mqtt/Aqara Motion Sensor Lounge","qos":"2","datatype":"auto-detect","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":280,"y":1180,"wires":[["ba7ed03e6c52d270"]]},{"id":"7709421f94456c1c","type":"change","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Aqara Motion Sensor Passage","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Aqara Motion Sensor Passage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1120,"wires":[["980c4a78f28e536d"]]},{"id":"ba7ed03e6c52d270","type":"change","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Aqara Motion Sensor Lounge","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Aqara Motion Sensor Lounge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1180,"wires":[["980c4a78f28e536d"]]},{"id":"85841b06e1e7c5b8","type":"mqtt in","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Shed Temp Sensor","topic":"zigbee2mqtt/Shed Temp Sensor","qos":"1","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":1240,"wires":[["a457b8bec31cbbf5"]]},{"id":"a457b8bec31cbbf5","type":"change","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Shed Temp Sensor","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"Shed Temp Sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1240,"wires":[["980c4a78f28e536d"]]},{"id":"980c4a78f28e536d","type":"link out","z":"901f218d2eda5292","g":"718a209d2396df65","name":"to 6 Hours","mode":"link","links":["de6686053285e117"],"x":930,"y":1160,"wires":[],"l":true},{"id":"2df48b341f0e347e","type":"comment","z":"901f218d2eda5292","g":"718a209d2396df65","name":"Parameter Measurement Devices - Constantly Talking","info":"","x":360,"y":1020,"wires":[]},{"id":"870e22eac7adca85","type":"comment","z":"901f218d2eda5292","g":"29c2886316fd9b68","name":"These guys really like sleeping (odd as they are routers)","info":"","x":360,"y":1620,"wires":[]},{"id":"5a54422c9b582b56","type":"mqtt in","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Washing Machine","topic":"tele/washingmachine_1_F1083A/SENSOR","qos":"0","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":250,"y":1920,"wires":[["a6f9a498c47ec503"]]},{"id":"a6f9a498c47ec503","type":"change","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Washing Machine","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"washing_machine","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1920,"wires":[["f14402421b77a2e0"]]},{"id":"466a727f1f1845c8","type":"mqtt in","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Tumble Drier","topic":"tele/tumbledrier_1_108836/SENSOR","qos":"0","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":230,"y":1980,"wires":[["5e22cfbbbb4c1881"]]},{"id":"5e22cfbbbb4c1881","type":"change","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Tumble Drier","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"tumble_drier","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1980,"wires":[["f14402421b77a2e0"]]},{"id":"a730c6ba64777c1f","type":"change","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"DishWasher","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"dishwasher","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2040,"wires":[["f14402421b77a2e0"]]},{"id":"da65215f7f37fcd1","type":"mqtt in","z":"901f218d2eda5292","g":"d31104e99653c27c","name":"Dishwasher","topic":"tele/dishwasher_F0A60E/SENSOR","qos":"0","datatype":"json","broker":"eca6af44.5297b","nl":false,"rap":false,"inputs":0,"x":230,"y":2040,"wires":[["a730c6ba64777c1f"]]},{"id":"eca6af44.5297b","type":"mqtt-broker","name":"MQTT","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"839b592.e73f0a8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]